body {
    background: url('img/image.jpg');
}

ul {
    list-style-type: none;
    height: 150px;
    background-color: #59B3BF;
}

li {
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 40px;
    font-family: Rancho;
}

li a {
    display: block;
    color: white;
    padding: 14px;
    text-decoration: none;
}